package {{package}};

{{#imports}}import {{import}};
{{/imports}}
{{#contextsIdentity}}import {{annotationPackage}}.inject.Provider;
{{/contextsIdentity}}

/**
 * Base class to use when parameters defined by the swagger spec are all you need.
 */
{{>generatedAnnotation}}
@{{annotationPackage}}.ws.rs.Path("{{contextPath}}")
{{#hasConsumes}}@{{annotationPackage}}.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}
{{#hasProduces}}@{{annotationPackage}}.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
{{/hasProduces}}
public abstract class Abstract{{classname}}BaseResource {{#parentAbstractClass}}extends {{parentAbstractClass}}{{/parentAbstractClass}} {
{{#contextsIdentity}}
    private Provider<com.oracle.helidon.oci.identity.Authenticator> authenticator;
    Provider<com.oracle.pic.identity.authentication.Principal> principal;
    Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest;

    protected Abstract{{classname}}BaseResource() {
    }

//    @{{annotationPackage}}.inject.Inject
    protected Abstract{{classname}}BaseResource(
                Provider<com.oracle.helidon.oci.identity.Authenticator> authenticator,
                Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest,
                Provider<com.oracle.pic.identity.authentication.Principal> principal) {
        setAuthenticatorProvider(authenticator);
        setAuthorizationRequestProvider(authorizationRequest);
        setPrincipalProvider(principal);
    }

    @{{annotationPackage}}.inject.Inject
    void setAuthorizationRequestProvider(
                @{{annotationPackage}}.validation.constraints.NotNull
                Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest) {
        java.util.Objects.requireNonNull(authorizationRequest);
        if (this.authorizationRequest != null && this.authorizationRequest != authorizationRequest) {
            throw new IllegalStateException("Resetting the authorizationRequestProvider is not permitted.");
        }
        this.authorizationRequest = authorizationRequest;
    }

    /**
     * Returns the pic identity authorization request that has been set.
     *
     * @return authorization request
     * @see #setAuthorizationRequestProvider
     */
    java.util.Optional<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> getAuthorizationRequest() {
        return java.util.Optional.ofNullable(authorizationRequest).map(Provider::get);
    }

    @{{annotationPackage}}.inject.Inject
    void setPrincipalProvider(
                @{{annotationPackage}}.validation.constraints.NotNull
                Provider<com.oracle.pic.identity.authentication.Principal> principal) {
        java.util.Objects.requireNonNull(principal);
        if (this.principal != null && this.principal != principal) {
            throw new IllegalStateException("Resetting the principalProvider is not permitted.");
        }
        this.principal = principal;
    }

    /**
     * Returns the pic identity authentication principal that has been set.
     *
     * @return principal
     * @see #setPrincipalProvider
     */
    java.util.Optional<com.oracle.pic.identity.authentication.Principal> getPrincipal() {
        return java.util.Optional.ofNullable(principal).map(Provider::get);
    }

    @{{annotationPackage}}.inject.Inject
    void setAuthenticatorProvider(
                @{{annotationPackage}}.validation.constraints.NotNull
                Provider<com.oracle.helidon.oci.identity.Authenticator> authenticator) {
        java.util.Objects.requireNonNull(authenticator);
        if (this.authenticator != null && this.authenticator != authenticator) {
            throw new IllegalStateException("Resetting the authenticationProvider is not permitted.");
        }
        this.authenticator = authenticator;
    }

    /**
     * Returns the authenticator that has been set.
     *
     * @return authenticator
     * @see #setAuthenticatorProvider
     */
    java.util.Optional<com.oracle.helidon.oci.identity.Authenticator> getAuthenticator() {
        return java.util.Optional.ofNullable(authenticator).map(Provider::get);
    }

{{/contextsIdentity}}
{{#operations}}
{{#operation}}
{{> abstract-method-javadoc }}
    @{{httpMethod}}
    @{{annotationPackage}}.ws.rs.Path("{{path}}")
    {{#hasConsumes}}@{{annotationPackage}}.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}
    {{#hasProduces}}@{{annotationPackage}}.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
    {{/hasProduces}}
    public abstract {{#abstractResourceReturnType}}{{{abstractResourceReturnType}}}{{/abstractResourceReturnType}}{{^abstractResourceReturnType}}void{{/abstractResourceReturnType}} {{nickname}}({{#allParams}}
        {{> arg-validation}}{{#isFormParam}}
        @{{annotationPackage}}.ws.rs.FormParam("{{baseName}}") {{/isFormParam}}{{#isHeaderParam}}
        @{{annotationPackage}}.ws.rs.HeaderParam("{{baseName}}") {{/isHeaderParam}}{{#isPathParam}}
        @{{annotationPackage}}.ws.rs.PathParam("{{baseName}}") {{/isPathParam}}{{#isQueryParam}}
        @{{annotationPackage}}.ws.rs.QueryParam("{{baseName}}") {{/isQueryParam}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}} {{! "-last" to avoid putting a comma at the if there are no contexts }}
        {{#hasParamsAndContexts}},{{/hasParamsAndContexts}}
        {{#contextsToInclude}}{{this}}{{^-last}},{{/-last}}{{/contextsToInclude}}
        );

{{/operation}}
} {{/operations}}