    /**{{#summary}}
     * {{summary}}{{/summary}}{{#notes}}
     * {{notes}}
     * {{/notes}}{{#allParams}}
     * @param {{paramName}} {{description}}{{/allParams}}{{#abstractResourceReturnType}}
     * @return {{{abstractResourceReturnType}}}{{/abstractResourceReturnType}} {{returnTypeDescription}}
     */