package {{package}};

{{#imports}}import {{import}};
{{/imports}}

/**
 * Base class to use when parameters defined by the swagger spec are all you need.
 */
{{>generatedAnnotation}}
@{{annotationPackage}}.ws.rs.Path("{{contextPath}}")
{{#hasConsumes}}@{{annotationPackage}}.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}
{{#hasProduces}}@{{annotationPackage}}.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
{{/hasProduces}}
public abstract class Abstract{{classname}}BaseResource {{#parentAbstractClass}}extends {{parentAbstractClass}}{{/parentAbstractClass}} {
{{#contextsIdentity}}
    {{annotationPackage}}.inject.Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest;
    {{annotationPackage}}.inject.Provider<com.oracle.pic.identity.authentication.Principal> principal;

    protected Abstract{{classname}}BaseResource() {
    }

    @javax.inject.Inject
    protected Abstract{{classname}}BaseResource(
                javax.inject.Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest,
                javax.inject.Provider<com.oracle.pic.identity.authentication.Principal> principal) {
        setAuthorizationRequestProvider(authorizationRequest);
        setPrincipalProvider(principal);
    }

    @javax.inject.Inject
    public void setAuthorizationRequestProvider(
                @{{annotationPackage}}.validation.constraints.NotNull
                {{annotationPackage}}.inject.Provider<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> authorizationRequest) {
        java.util.Objects.requireNonNull(authorizationRequest);
        assert(this.authorizationRequest == null);
        this.authorizationRequest = authorizationRequest;
    }

    public java.util.Optional<com.oracle.pic.identity.authorization.sdk.AuthorizationRequest> getAuthorizationRequest() {
        return java.util.Optional.ofNullable(authorizationRequest != null ? authorizationRequest.get() : null);
    }

    @javax.inject.Inject
    public void setPrincipalProvider(
                @{{annotationPackage}}.validation.constraints.NotNull
                {{annotationPackage}}.inject.Provider<com.oracle.pic.identity.authentication.Principal> principal) {
        java.util.Objects.requireNonNull(principal);
        assert(this.principal == null);
        this.principal = principal;
    }

    public java.util.Optional<com.oracle.pic.identity.authentication.Principal> getPrincipal() {
        return java.util.Optional.ofNullable(principal != null ? principal.get() : null);
    }
{{/contextsIdentity}}
{{#operations}}
{{#operation}}
{{> abstract-method-javadoc }}
    @{{httpMethod}}
    @{{annotationPackage}}.ws.rs.Path("{{path}}")
    {{#hasConsumes}}@{{annotationPackage}}.ws.rs.Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}
    {{#hasProduces}}@{{annotationPackage}}.ws.rs.Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} })
    {{/hasProduces}}
    public abstract {{#abstractResourceReturnType}}{{{abstractResourceReturnType}}}{{/abstractResourceReturnType}}{{^abstractResourceReturnType}}void{{/abstractResourceReturnType}} {{nickname}}({{#allParams}}
        {{> arg-validation}}{{#isFormParam}}
        @{{annotationPackage}}.ws.rs.FormParam("{{baseName}}") {{/isFormParam}}{{#isHeaderParam}}
        @{{annotationPackage}}.ws.rs.HeaderParam("{{baseName}}") {{/isHeaderParam}}{{#isPathParam}}
        @{{annotationPackage}}.ws.rs.PathParam("{{baseName}}") {{/isPathParam}}{{#isQueryParam}}
        @{{annotationPackage}}.ws.rs.QueryParam("{{baseName}}") {{/isQueryParam}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}} {{! "-last" to avoid putting a comma at the if there are no contexts }}
        {{#hasParamsAndContexts}},{{/hasParamsAndContexts}}
        {{#contextsToInclude}}{{this}}{{^-last}},{{/-last}}{{/contextsToInclude}}
        );

{{/operation}}
} {{/operations}}